<div class="dashboard-container">
  <yeah-url-list-search #yeahUrlSearchElement
    (searchRequestSubmitted)="handleSubmittedSearchRequest($event)"
    (addRequestSubmitted)="handleSubmittedAddRequest()">
  </yeah-url-list-search>
  <yeah-url-list>
    <div *ngIf="showLoading" class="loading-text text-color">Loading...</div>
    <yeah-url-list-item *ngFor="let url of filteredUrlList" [url]="url"
      (editUrlItemRequestSubmitted)="handleSubmittedEditUrlItemRequest($event)"
      (deleteUrlItemRequestSubmitted)="handleSubmittedDeleteUrlItemRequest($event)">
      <yeah-url-list-tag *ngFor="let tag of url.tags" [tag]="tag"
        (tagNameAsSearchRequestSubmitted)="handleSubmittedTagNameAsSearchRequest($event)">
      </yeah-url-list-tag>
    </yeah-url-list-item>
  </yeah-url-list>
  <yeah-dialog-edit #yeahUrlEditDialog
    (editUrlCompleted)="handleCompletedEditUrlItem($event)">
  </yeah-dialog-edit>
  <yeah-dialog-delete #yeahUrlDeleteDialog
    (deleteUrlCompleted)="handleCompletedDeleteUrlItem($event)">
  </yeah-dialog-delete>
  <yeah-dialog-add #yeahUrlAddDialog
    (addUrlCompleted)="handleCompletedAddUrlItem($event)">
  </yeah-dialog-add>
</div>
