<div>
  <yeah-url-list-search (searchRequestSubmitted)="handleSubmittedSearchRequest($event)"></yeah-url-list-search>
  <yeah-url-list>
    <yeah-url-list-item>
      <yeah-url-list-tag></yeah-url-list-tag>
    </yeah-url-list-item>
    <yeah-url-list-item>
      <yeah-url-list-tag></yeah-url-list-tag>
    </yeah-url-list-item>
    <yeah-url-list-item>
      <yeah-url-list-tag></yeah-url-list-tag>
      <yeah-url-list-tag></yeah-url-list-tag>
      <yeah-url-list-tag></yeah-url-list-tag>
    </yeah-url-list-item>
  </yeah-url-list>
</div>
