<div class="search-container">
  <input *ngIf="showTextInput && !showKeywordInput" #txtSearchTerm 
    class="custom-input background-color text-color search-container_input"
    type="text" required placeholder="Enter your search term..."
    (keyup)="sendSearchRequest()">
  <yeah-autocomplete *ngIf="!showTextInput && showKeywordInput" #yeahAutocomplete
    class="search-container_input search-container_input-keywords"
    [tagList]="tagList"
    [placeholderText]="'Enter your search keyword...'"
    [shouldClearSearchTextAfterSubmitRequest]="false"
    (newlyCreatedTagRequestSubmitted)="this.searchRequestSubmitted.next($event.name)">
  </yeah-autocomplete>
  <div class="search-container_actions">
    <button class="custom-button-small custom-button_ok" (click)="switchInputRequest()">
      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMin slice">
        <path class="svg-icon" fill="#81D4FA" d="M5.5,7A1.5,1.5 0 0,0 7,5.5A1.5,1.5 0 0,0 5.5,4A1.5,1.5 0 0,0 4,5.5A1.5,1.5 0 0,0 5.5,7M21.41,11.58C21.77,11.94 22,12.44 22,13C22,13.55 21.78,14.05 21.41,14.41L14.41,21.41C14.05,21.77 13.55,22 13,22C12.45,22 11.95,21.77 11.58,21.41L2.59,12.41C2.22,12.05 2,11.55 2,11V4C2,2.89 2.89,2 4,2H11C11.55,2 12.05,2.22 12.41,2.58L21.41,11.58M13,20L20,13L11.5,4.5L4.5,11.5L13,20M10.09,8.91L11.5,7.5L17,13L15.59,14.41L10.09,8.91M7.59,11.41L9,10L13,14L11.59,15.41L7.59,11.41Z" />
      </svg>
    </button>
    <button class="custom-button-small custom-button_cancel" (click)="clearSearchRequest()">
      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMin slice">
        <path class="svg-icon" fill="#E4676A" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
      </svg>
    </button>
    <button class="custom-button-small custom-button_add" (click)="sendAddRequest()">
      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMin slice">
        <path class="svg-icon" fill="#83FA81" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
      </svg>
    </button>
  </div>
</div>
