.add-input-container {
  margin-top: 24px;
  margin-right: 8px;
}

.add-input {
  width: 100%;
  padding-bottom: 4px;
  border: 0;
  border-bottom: 1px solid #141E2A;
  font-size: medium;
  outline: none;
  word-wrap: break-word;
  resize: none;
}
.add-input::placeholder {
  color: #414953;
}
.add-input:hover,
.add-input:focus,
.add-input:valid {
  border-bottom: 1px solid #81D4FA;
}

.keyword-input {
  width: 100%;
  margin: 12px 0 8px 0;
}

.tag-list-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.tag-selection-container {
  margin-top: 12px;
}

.tag-selection {
  width: 100%;
  padding: 4px 0 4px 4px;
  background: #252C36 url("./../../../../../assets/down.svg") no-repeat 99% 50%;
  font-size: small;
  border: 0 solid white;
  border-bottom: 1px solid #1f2d3d;
  border-radius: 0;
  cursor: pointer;
  overflow: hidden;
  box-shadow: none;
  -webkit-appearance: none;
  outline: none;
}

.tag-selection:hover,
.tag-selection:focus {
  border-bottom: 1px solid #81D4FA;
}

.add-action-container {
  text-align: right;
}