.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.profile-container_title {
  font-size: larger;
  margin-bottom: 12px;
}

.profile-container_username,
.profile-container_password {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50vw;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.profile-container_username-mb {
  margin-bottom: 24px;
}

.profile-container_username-h {
  height: 16vh;
}

.profile-container_password-h {
  height: 22vh;
}

.profile-container_input {
  background: #252c36;
  margin: 12px;
  padding-bottom: 4px;
  border: 0;
  border-bottom: 1px solid #141e2a;
  font-size: medium;
  outline: none;
}
.profile-container_input::placeholder {
  color: #414953;
}
.profile-container_input:hover,
.profile-container_input:focus,
.profile-container_input:valid {
  border-bottom: 1px solid #81d4fa;
}

.profile-container_action {
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;
}

.profile-container_button {
  width: 150px;
  height: 36px;
  margin-top: 12px;
  padding: 3px;
  border: 0;
  border-radius: 4px;
  font-size: medium;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  color: #81d4fa;
  border: 1px solid #81d4fa;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  outline: none;
}
.profile-container_button:hover,
.profile-container_button:focus {
  background: #81d4fa;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}
