.edit-input-container {
  margin-top: 24px;
}

.edit-input {
  width: 100%;
  padding-bottom: 4px;
  border: 0;
  border-bottom: 1px solid #141E2A;
  font-size: medium;
  outline: none;
  word-wrap: break-word;
  resize: none;
}
.edit-input::placeholder {
  color: #414953;
}
.edit-input:hover,
.edit-input:focus,
.edit-input:valid {
  border-bottom: 1px solid #81D4FA;
}

.tag-list-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}

.edit-action-container {
  text-align: right;
}
