<yeah-dialog-base [(visible)]="showDialog">
  <div class="edit-input-container">
    <textarea #taEditInput class="edit-input background-color text-color"
      name="edit-data" id="taEditInput" rows="4">
    </textarea>
    <input #txtKeywords class="custom-input background-color text-color keyword-input"
    type="text" required placeholder="Enter new keywords here...">
  </div>
  <div class="tag-list-container">
    <yeah-url-list-tag *ngFor="let tag of selectedTags" [tag]="tag" [showRemoveButton]="true"
      (tagNameAsRemoveRequestSubmitted)="handleSubmittedTagNameAsRemoveRequest($event)">
    </yeah-url-list-tag>
  </div>
  <div class="tag-selection-container">
    <select class="tag-selection text-color" name="selectTag" (change)="handleSelectedTag($event)">
      <option *ngFor="let tag of tagList" [ngValue]="tag">{{ tag.name }}</option>
    </select>
  </div>
  <div class="edit-action-container">
    <button class="custom-button custom-button_cancel"
      (click)="cancel()">CANCEL
    </button>
    <button class="custom-button custom-button_ok"
      (click)="edit(taEditInput)">EDIT
    </button>
  </div>
</yeah-dialog-base>
