<yeah-dialog-base [(visible)]="showDialog">
  <div class="edit-input-container">
    <textarea #taEditInput class="edit-input background-color text-color"
      name="edit-data" id="taEditInput" rows="4">
    </textarea>
  </div>
  <div class="tag-list-container">
    <yeah-url-list-tag *ngFor="let tag of selectedTags" [tag]="tag" [showRemoveButton]="true"
      (tagNameAsRemoveRequestSubmitted)="handleSubmittedTagNameAsRemoveRequest($event)">
    </yeah-url-list-tag>
  </div>
  <yeah-autocomplete [tagList]="tagList"
    (newlyCreatedTagRequestSubmitted)="handleSubmittedNewlyCreatedTagRequest($event)">
  </yeah-autocomplete>
  <div class="edit-action-container">
    <button class="custom-button custom-button_cancel"
      (click)="cancel()">CANCEL
    </button>
    <button class="custom-button custom-button_ok"
      (click)="edit(taEditInput)">EDIT
    </button>
  </div>
</yeah-dialog-base>
