.item {
  display: flex;
  flex-direction: row;
  padding: 6px;
  margin: 3px 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.item_text {
  display: flex;
  align-items: center;
  width: 86%;
  padding-left: 4px;
  font-size: large;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-right: 8px;
}

.item_text:hover {
  text-decoration: underline;
}

.item_text-count  {
  display: flex;
  align-items: center;
}
