header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 72px;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 24px);
  padding: 12px;
  border-bottom: solid 1px black;
}

.header-title {
  display: flex;
  font-size: xx-large;
}

.header-user {
  display: flex;
  align-items: flex-start;
}

.header-user_text {
  font-size: large;
}

.header-user_separator {
  margin-left: 4px;
  margin-right: 4px;
  font-size: large;
}

.header-user_action {
  font-size: large;
}
.header-user_action:hover {
  text-decoration: underline;
  cursor: pointer;
}