header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 0 72px;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 24px);
  padding: 12px;
}

.header-title {
  display: flex;
  font-size: xx-large;
}
.header-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-user {
  display: flex;
  align-items: flex-start;
}

.header-user_text {
  font-size: medium;
}
.header-user_text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-user_separator {
  margin-left: 4px;
  margin-right: 4px;
  font-size: medium;
}

.header-user_action {
  font-size: medium;
}
.header-user_action:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header-title {
    font-size: large;
  }
}
