button {
  display: inline-block;
  position: relative;
  z-index: 1;
  cursor: pointer;
  font-size: large;
  border: none;
  text-decoration: none;
  background: transparent;
  color: #ffffff;
  font-family: sans-serif;
  line-height: 1.2;
  margin: 2px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -4px;
  bottom: -2px;
  left: -0.25em;
  right: -0.25em;
  background-color: #fc2f70;
  transform-origin: bottom center;
  transform: scaleY(0.1);
  transition: all 0.1s ease-in-out;
}

button:hover::before,
button:focus::before {
  transform: scaleY(1);
  background-color: hsla(341, 97%, 59%, 0.75);
}
