<div class="login-container">
  <form #form="ngForm" (keydown.enter)="loginOnEnter(form.value)">
    <yeah-input
      inputTabIndex="1"
      inputType="text"
      placeholderText="Enter your username..."
      labelText="Username"
      name="username"
      ngModel
    ></yeah-input>

    <yeah-input
      inputTabIndex="2"
      inputType="password"
      placeholderText="Enter your password..."
      labelText="Password"
      name="password"
      ngModel
    ></yeah-input>

    <div class="login-container-buttons">
      <yeah-button buttonTabIndex="3" type="submit">Login</yeah-button>
    </div>
  </form>
</div>
