<div class="login-container">
  <form #form="ngForm" (keydown.enter)="loginOnEnter(form.value)">
    <div class="input-container">
      <input
        id="txtUsername"
        class="input-control"
        type="text"
        placeholder="Enter your Username..."
        tabindex="1"
        name="username"
        ngModel
      />
      <label for="txtUsername" class="input-control_label">Username</label>
      <span class="input-control_underline"></span>
    </div>

    <div class="input-container">
      <input
        id="txtPassword"
        class="input-control"
        type="password"
        placeholder="Enter your password..."
        tabindex="2"
        name="password"
        ngModel
      />
      <label for="txtPassword" class="input-control_label">Password</label>
      <span class="input-control_underline"></span>
    </div>

    <div class="login-container-buttons">
      <span class="button" tabindex="3" (click)="login(form.value)">Login</span>
    </div>
  </form>
</div>
