<div class="container">
  <input #txtKeywords class="custom-input background-color text-color keyword-input"
    type="text" required placeholder="{{ placeholderText }}"
    (keyup)="filterTagList(txtKeywords)"
    (keydown)="handleNewCreatedTag($event, txtKeywords)">
  <div class="suggestions background-color text-color" *ngIf="filteredTagList.length > 0">
    <ul>
      <li *ngFor="let tag of filteredTagList">
        <a (click)="handleSelectedTag(tag, txtKeywords)">{{ tag.name }}</a>
      </li>
    </ul>
  </div>
</div>
