<div class="login-container">
  <div class="login-container_form">
    <form>
      <input type="text" class="login-container_input background-color text-color"
        required placeholder="Enter your Username...">
      <input type="password" class="login-container_input background-color text-color"
        required placeholder="Enter your Password...">
      <div class="login-container-buttons">
        <button type="submit" class="login-container_button background-color_accent-1">Login</button>
      </div>
    </form>
  </div>
</div>
