.item-container {
  display: flex;
  flex-direction: column;
  padding: 6px;
  margin: 3px 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.item-container_top {
  display: flex;
}

.item-container_top-url {
  display: flex;
  padding-left: 4px;
  font-size: large;
}

.full-width {
  width: 100%;
}

.width {
  width: 88%;
}

.item-container_top-url_text {
  padding-right: 12px;
  text-decoration: none;
  outline: none;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.item-container_top-url_text:hover,
.item-container_top-url_text:focus {
  text-decoration: underline;
}
.item-container_top-url_text:visited {
  color: #c0ccda;
}

.item-container_top-actions {
  display: flex;
  align-items: center;
}

.item-container_bottom {
  display: flex;
  padding-top: 4px;
  padding-bottom: 2px;
  overflow: auto;
}

.right-spacing {
  margin-right: 4px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .item-container_top-url_text {
    font-size: medium;
  }

  .item-container_top-actions {
    flex-direction: column;
  }

  .item-container_bottom {
    margin-top: 4px;
  }

  .right-spacing {
    margin-right: 0;
  }
}
