<div class="item-container">
  <div class="item-container_top">
    <div class="item-container_top-url">
      <a class="item-container_top-url_text text-color" target="_blank" href="{{ url.url }}">
        {{ url.url }}
      </a>
    </div>
    <div class="item-container_top-actions">
      <button class="item-container_top-action item-container_top-action-edit"
        (click)="editUrlItem()">EDIT
      </button>
      <button class="item-container_top-action item-container_top-action-delete"
        (click)="deleteUrlItem()">DELETE
      </button>
    </div>
  </div>
  <div class="item-container_bottom">
    <ng-content></ng-content>
  </div>
</div>
