@import url("https://fonts.googleapis.com/css?family=Zilla+Slab");

body {
  font-family: "Zilla Slab", serif;
  line-height: 1.2;
  background: #252C36;
  color: #CFD6E0;
}

.yeah-input {
  margin: 4px 12px 12px 12px;
  padding-bottom: 4px;
  background: #252C36;
  color: #CFD6E0;
  border: 0;
  border-bottom: 1px solid #141E2A;
  font-size: small;
  outline: none;
}

.yeah-input::placeholder {
  color: #414953;
}
.yeah-input:hover,
.yeah-input:focus,
.yeah-input:valid {
  border-bottom: 1px solid #81D4FA;
}

.yeah-button {
  width: 80px;
  border: 0;
  border-radius: 4px;
  background: transparent;
  font-size: smaller;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  outline: none;
}

.yeah-button:hover,
.yeah-button:focus {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

.yeah-button_ok {
  color: #81D4FA;
  border: 1px solid #81D4FA;
}
.yeah-button_ok:hover,
.yeah-button_ok:focus  {
  background: #81D4FA;
  color: black;
}

.yeah-button_cancel {
  color: #E4676A;
  border: 1px solid #E4676A;
}
.yeah-button_cancel:hover,
.yeah-button_cancel:focus {
  background: #E4676A;
  color: black;
}

.yeah-button_add {
  color: #83FA81;
  border: 1px solid #83FA81;
}
.yeah-button_add:hover,
.yeah-button_add:focus {
  background: #83FA81;
  color: black;
}

.yeah-button_offset {
  margin-right: 115px;
}

.yeah-select {
  margin: 4px 12px 12px 12px;
  padding: 4px 0 4px 4px;
  background: #252C36 url("./../icons/down.svg") no-repeat 98% 50%;
  color: #CFD6E0;
  font-size: small;
  border: 0 solid white;
  border-bottom: 1px solid #141E2A;
  border-radius: 0;
  cursor: pointer;
  overflow: hidden;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  text-indent: 0.01px;
  text-overflow: "";
}

.yeah-select:hover,
.yeah-select:focus {
  border-bottom: 1px solid #81D4FA;
}

.yeah-info {
  font-size: small;
  text-align: center;
}

.yeah-info_success {
  padding: 5px;  
  color: #1DE9B6;
}

.yeah-info_error {
  padding: 5px;  
  color: #FF1744;
}
