.container {
  display: flex;
  flex-direction: column;
}

.container-auth,
.container-icon {
  display: flex;
  flex-direction: column;
}

.container-auth_actions {
  margin-right: 12px;
  margin-bottom: 8px;
  text-align: right;
}

.headline {
  font-size: large;
  font-weight: bold;
}

.separator {
  height: 1px;
  margin-top: 4px;
  margin-bottom: 8px;
  background: #141E2A;
}
