body {
  margin: 8px;
  background: #252C36;
  color: #CFD6E0;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-auth,
.container-icon {
  display: flex;
  flex-direction: column;
}

.container-auth_actions {
  margin-right: 12px;
  text-align: right;
}

.headline {
  font-size: large;
  font-weight: bold;
}

.separator {
  height: 1px;
  margin-top: 4px;
  margin-bottom: 8px;
  background: #141E2A;
}

.opt-input {
  margin: 4px 12px 12px 12px;
  padding-bottom: 4px;
  background: #252C36;
  color: #CFD6E0;
  border: 0;
  border-bottom: 1px solid #141E2A;
  font-size: small;
  outline: none;
}

.opt-input::placeholder {
  color: #414953;
}
.opt-input:hover,
.opt-input:focus,
.opt-input:valid {
  border-bottom: 1px solid #81D4FA;
}

.opt-button {
  width: 80px;
  border: 0;
  border-radius: 4px;
  background: transparent;
  font-size: smaller;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  outline: none;
}
.opt-button:hover,
.opt-button:focus {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

.opt-button_ok {
  color: #81D4FA;
  border: 1px solid #81D4FA;
}
.opt-button_ok:hover,
.opt-button_ok:hover  {
  background: #81D4FA;
  color: black;
}

.opt-button_cancel {
  color: #E4676A;
  border: 1px solid #E4676A;
}
.opt-button_cancel:hover,
.opt-button_cancel:hover {
  background: #E4676A;
  color: black;
}

.opt-select {
  margin: 4px 12px 12px 12px;
  padding: 4px 0 4px 4px;
  background: #252C36 url("./../icons/down.svg") no-repeat 98% 50%;
  color: #CFD6E0;
  font-size: small;
  border: 0 solid white;
  border-bottom: 1px solid #141E2A;
  border-radius: 0;
  cursor: pointer;
  overflow: hidden;
  box-shadow: none;
  -webkit-appearance: none;
  outline: none;
}

.opt-select:hover,
.opt-select:focus {
  border-bottom: 1px solid #81D4FA;
}

.info {
  padding: 5px;
  font-size: small;
  text-align: center;
}

.info-success {
  color: #1DE9B6;
}

.info-error {
  color: #FF1744;
}
