.container {
  display: flex;
  flex-direction: column;
}

.container-auth,
.container-icon {
  display: flex;
  flex-direction: column;
}

.container-auth_actions {
  margin-right: 12px;
  text-align: right;
}

.headline {
  font-size: large;
  font-weight: bold;
}

.separator {
  height: 1px;
  margin-top: 4px;
  margin-bottom: 8px;
  background: #141E2A;
}

.opt-select {
  margin: 4px 12px 12px 12px;
  padding: 4px 0 4px 4px;
  background: #252C36 url("./../icons/down.svg") no-repeat 98% 50%;
  color: #CFD6E0;
  font-size: small;
  border: 0 solid white;
  border-bottom: 1px solid #141E2A;
  border-radius: 0;
  cursor: pointer;
  overflow: hidden;
  box-shadow: none;
  -webkit-appearance: none;
  outline: none;
}

.opt-select:hover,
.opt-select:focus {
  border-bottom: 1px solid #81D4FA;
}
