body {
  width: 345px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-list {
  display: flex;
  flex-direction: column;
  min-height: 185px;
  height: 185px;
  max-height: 185px;
  margin: 0 8px;
}

.container-keywords {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.container-actions {
  display: flex;
  margin: 0 12px 12px 12px;
}

.ppp-label {
  margin: 8px;
  font-size: large;
  font-weight: bold;
}

.ppp-input {
  padding: 4px 0 4px 4px;
}

.ppp-select {
  margin-top: 0;
}

.ppp-button {
  margin-right: 4px;
}
.ppp-button_w {
  margin-right: 12px;
}

ul {
  margin: 0 0 0 5px;
  padding: 0 0 0 8px;
  list-style-type: square;
  overflow: auto;
}

ul li {
  margin: 0 0 0 10px;
  padding: 0 0 0 8px;
  text-indent: -0.5em;
  word-wrap: break-word;
}
