@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Zilla Slab', serif;
  background: #252C36;
  color: #CFD6E0;
  overflow: auto;
}

/*
  COLORS
*/

.background-color {
  background: #252C36;
}

.background-color_accent-1 {
  background: #81D4FA;
}

.background-color_accent-2 {
  background: #E4676A;
}

.background-color_accent-3 {
  background: #83FA81;
}

.text-color {
  color: #CFD6E0;
}

.text-color_accent-1 {
  color: #81D4FA;
}

.text-color_accent-2 {
  color: #E4676A;
}

.text-color_accent-3 {
  color: #83FA81;
}

/*
  INPUTS
*/

.custom-input {
  margin: 12px;
  padding-bottom: 4px;
  border: 0;
  border-bottom: 1px solid #141E2A;
  font-size: medium;
  outline: none;
}
.custom-input::placeholder {
  color: #414953;
}
.custom-input:hover,
.custom-input:focus,
.custom-input:valid {
  border-bottom: 1px solid #81D4FA;
}

/*
  BUTTONS
*/

.custom-button {
  width: 80px;
  margin-top: 12px;
  padding: 3px;
  border: 0;
  border-radius: 4px;
  background: transparent;
  font-size: small;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  outline: none;
}
.custom-button:hover,
.custom-button:focus {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

.custom-button-small {
  display: inline-block;
  margin-top: 6px;
  width: 36px;
  height: 36px;
  border: 0;
  border-radius: 4px;
  background: transparent;
  font-size: smaller;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  outline: none;
}

.custom-button-small:hover,
.custom-button-small:focus {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

.custom-button-small:hover .svg-icon {
  fill: black;
}

svg {
  margin-top: 4px;
}

.custom-button_ok {
  color: #81D4FA;
  border: 1px solid #81D4FA;
}
.custom-button_ok:hover,
.custom-button_ok:hover  {
  background: #81D4FA;
  color: black;
}

.custom-button_cancel {
  color: #E4676A;
  border: 1px solid #E4676A;
}
.custom-button_cancel:hover,
.custom-button_cancel:hover {
  background: #E4676A;
  color: black;
}

.custom-button_add {
  color: #83FA81;
  border: 1px solid #83FA81;
}
.custom-button_add:hover,
.custom-button_add:hover {
  background: #83FA81;
  color: black;
}

/* theming scrollbars */
/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
::-webkit-scrollbar {
  height: 4px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #252C36; /*rgb(26, 40, 56);*/
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #81D4FA;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .custom-button {
    width: 60px;
    padding: 0;
  }

  .custom-button-small {
    width: 30px;
    height: 30px;
  }
}
