.notify-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  bottom: 48px;
  min-width: 250px;
  margin-left: -125px;
  padding: 4px;
  text-align: left;
  font-size: medium;
  border-radius: 4px;
  z-index: 10;
}

.notify-container_text {
  display: flex;
  justify-content: center;
  margin-left: 4px;
}

.notify-container_action {
  display: flex;
  justify-content: center;
  margin: 0 4px;
}

.notify-color_success {
  color: #83FA81;
  background: #29313d;
}

.notify-color_error {
  color: #E4676A;
  background: #29313d;
}

.notify-color_info {
  color: #81D4FA;
  background: #29313d;
}

.notify-color_warning {
  color: #FFEB3B;
  background: #29313d;
}

.notify-close {
  display: flex;
  justify-content: center;
  border: 0;
  background: none;
  font-size: large;
  cursor: pointer;
}

.notify-close:focus,
.notify-close:hover {
  color: #FFFFFF;
  text-decoration: none;
  opacity: .75;
}
